{% load staticfiles %}

{% include 'header.html' %}

<br><br>
  <h1 style="color:black;" align="center">YOU'VE ALREADY VOTED</h1>
	<hr>
<!-- Need to relate back to database and check to see if voter exist, then return this page-->
<div id="padder">
        <ul>
            <li><label id="term">Each voter is only allowed to vote once. </label></li>
            <li><label id="term">Voting a second time is in violation of the law. </label></li>
            <li><label id="term">Click this button to go back to the home screen. </label></li>
<!--             <span style="display:inline-block; width: 20px;"></span>
            <a href="{% url 'vote_id_check' %}">G</a>&nbsp; -->
            <button onclick="window.location.href='https://democracyinc.herokuapp.com/'">Home</button>
        </ul>
</div>
<div align="center">
<br>
{% load static %}
<img align="center" src="{% static "img/Logo_small.png" %}" alt="logo"/>
</div>
<br>
<br>

{% include 'footer.html' %}