{% load staticfiles %}

{#{% block title %}Checkin Form{% endblock %}#}

{% block content %}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<link rel="stylesheet" href={% static "css/checkin.css" %}>
<link rel="stylesheet" href={% static "css/main.css" %}>
<link rel="stylesheet" href={% static "css/footer.css" %}>
<link rel="stylesheet" href={% static "css/ionicons.min.css" %}>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/home">DemocracyInc</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Vote Count</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Check In</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Voting Portal
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'vote_id_check' %}">Go to Voting Booth</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">View Available Elections</a>
              <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">View Registered Voters</a>
            </div>
          </li>
        </ul>
		{% if user.is_authenticated %}
			<li class="nav navbar-nav navbar-right">
              <h6 style="color:white">Logged in as: {{ user.username }}</h6>
            </li>
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <!-- alignment members -->
		    <li class="nav navbar-nav navbar-right">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
		{% else %}
		<li class="nav navbar-nav navbar-right">
		    <a class="nav-link" href="{% url 'login' %}">Login</a>
		</li>
		{% endif %}
      </div>
    </nav>
	<br>
<h1 style="color:black;" align="center">CHECK IN</h1>
	<br>

<div id="padder" align="center">
	<div id="formContainer">
        <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
		<!--
			<ul>
				<li><label id="photoidLabel">Valid Form of Photo ID*</label>
				<li><select type="photoid" name="photoid" id="photoid" required="true">
							<option value="DL">Virginia Driver's License</option>
							<option value="VetCard">DMV Issued Veteran's ID Card</option>
							<option value="USPass">United States Passport</option>
							<option value="OtherGov">Other Government-Issued Photo ID Card</option>
							<option value="StudentID">College or University Student ID Card</option>
							<option value="TribalID">Tribal Enrollment or Tribal ID Card</option>
							<option value="EmployeeID">Employee Photo ID Card</option>
							<option value="MilitaryID">US Military ID</option>
							<option value="NursingHomeID">Nursing Home Resident ID</option>
							<option value="CreditCard">Credit Card Displaying Photograph</option>
				</select>
			</ul> -->
			<br><br><br><br><br><br><br>
			<div id="inner_content">
				<ul>
					<li><label id="term">I certify and affirm that I am expressly authorized by the voter to access voter registration information. I understand that it is unlawful to access the record of any other voter, punishable as computer fraud under Va. Code &sect 18.2-152.3.*</label></li>
						<span style="display:inline-block; width: 20px;"></span>
					<li><input type="checkbox" name="terms" id="terms" value = "true" required></li>
				</ul>
			</div>
			<div align="center">
				<button id="submit" type="submit">Submit</button>	
			</div>
		</form>
	</div>
</div>

<div class="footer-dark">
       <footer>
           <div class="container">
               <div class="row">
                   <div class="col-sm-6 col-md-3 item">
                       <h3>Services</h3>
                       <ul>
                           <li><a href="#">Voting</a></li>
                           <li><a href="#">Analytics</a></li>
                           <li><a href="#">Hosting</a></li>
                       </ul>
                   </div>
                   <div class="col-sm-6 col-md-3 item">
                       <h3>About</h3>
                       <ul>
                           <li><a href="#">Company</a></li>
                           <li><a href="#">Team</a></li>
                           <li><a href="#">Careers</a></li>
                       </ul>
                   </div>
                   <div class="col-md-6 item text">
                       <h3>DemocracyInc</h3>
                       <p>Our system provides users with an easy to use voting application.</p>
                   </div>
                   <div class="col item social">
                     <a href="#">
                       <i class="icon ion-social-facebook" style="padding:10px"></i>
                     </a>
                     <a href="#">
                       <i class="icon ion-social-twitter" style="padding:6px"></i>
                     </a>
                     <a href="#">
                       <i class="icon ion-social-snapchat" style="padding:2px"></i>
                     </a>
                     <a href="#"><i class="icon ion-social-instagram" style="padding:3px"></i>
                     </a>
                   </div>
               </div>
               <p class="copyright">DemocracyInc &copy; 2017</p>
           </div>
       </footer>
   </div>
</div>
{% endblock %}
