{% load staticfiles %}

{#{% block title %}Checkin Form{% endblock %}#}

{% include 'header.html' %}

{% block content %}
	<br>
<h1 style="color:black;" align="center">CHECK IN</h1>
	<br>

<div id="padder" align="center">
	<div id="formContainer">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
			<div id="inner_content">
				<ul style="list-style-type: none;">
                    <span style="display:inline-block; width: 400px;">
					<li><label id="term">I certify and affirm that I am expressly authorized by the voter to access voter registration information. I understand that it is unlawful to access the record of any other voter, punishable as computer fraud under Va. Code &sect 18.2-152.3.*</label></li>
                    </span>
                        {#						<span style="display:inline-block; width: 20px;"></span>#}
					<li><input type="checkbox" name="terms" id="terms" value = "true" required></li>
				</ul>
			</div>
			<div align="center">
            <button id="submit" type="submit" style="width: 100px;">Submit</button>
			</div>
		</form>
	</div>
</div>
			<br><br><br>

{% include 'footer.html' %}

{% endblock %}