{% load staticfiles %}

{% block content %}
{% include 'header.html' %}

	<br><br>
  <h1 style="color:black;" align="center">Incorrect Location</h1>
	<hr>
<div id="padder">
        <ul>
            <li><label>This voter is not registered to vote in this precinct. </label></li>
            <li><label>This voting location is in {{polling_locality}} at precinct {{ polling_precinct }}.</label></li>
			<br>
			<li><label><strong>{{ full_name }}</strong> is registered to vote in <strong>{{ locality }}</strong> at <strong>Precinct {{ precinct }}</strong>.</label></li>
            <br>
			<li><label>Please inform him/her that they need to go to a polling place in this location to vote.</label></li>
            <span style="display:inline-block; width: 20px;"></span>
            <a href="{% url 'checkin' %}">Go to Checkin</a>&nbsp;
        </ul>
</div>
<div align="center">
<br>
{% load static %}
<img align="center" src="{% static "img/Logo_small.png" %}" alt="logo"/>
</div>
<br>
<br>

{% include 'footer.html' %}
{% endblock %}
