{% load staticfiles %}

{% include 'header.html' %}
	<br><br>
  <h1 style="color:black;" align="center">NOT REGISTERED</h1>
	<hr>
<!-- Need to relate back to database and check to see if voter exist, then return this page-->
<div id="padder">
        <ul>
            <li><label id="term">Profile was not found in the record of registered voters. </label></li>
            <li><label id="term">Is the person registered to vote?</label></li>
            <li><label id="term">If yes, please enter the information again, else please inform them that they need to register to vote BEFORE the election, and then they will be able to vote in the next election cycle.</label></li>
            <span style="display:inline-block; width: 20px;"></span>
            <a href="{% url 'checkin' %}">Try again</a>&nbsp;
        </ul>
</div>
<div align="center">
<br>
{% load static %}
<img align="center" src="{% static "img/Logo_small.png" %}" alt="logo"/>
</div>
<br>
<br>

{% include 'footer.html' %}