{% load staticfiles %}
{% include 'header.html' %}
<link rel="stylesheet" href={% static "css/voters.css" %}>

<script>
/*
 This JS source code is from a w3schools tutorial on how to create a filter/search table:
 https://www.w3schools.com/howto/howto_js_filter_table.asp
 All credit goes to the author of this page.
 */
function myFunction() {
  // Declare variables 
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    } 
  }
}
</script>

	<br>
<h1 style="color:black;" align="center">Registered Voters</h1>
	<br>

<div id="padder" align="center">
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for by first name...">

<table id="myTable">
  <tr class="header">
    <th style="width:10%;">First Name</th>
    <th style="width:10%;">Last Name</th>
	<th style="width:10%;">Voter #</th>
	<th style="width:10%;">Status</th>
    <th style="width:15%;">Street Address</th>
	<th style="width:10%;">City</th>
    <th style="width:5%;">State</th>
    <th style="width:5%;">Zip</th>
    <th style="width:20%;">Locality</th>
	<th style="width:5%;">Precinct</th>

  </tr>
  {% for item in query_results %}
  <tr>
    <td>{{ item.first_name }}</td>
    <td>{{ item.last_name }}</td>
	<td>{{ item.voter_number }}</td>
	<td>{{ item.voter_status }}</td>
	<td>{{ item.street_address }}</td>
	<td>{{ item.city }}</td>
	<td>{{ item.state }}</td>
	<td>{{ item.zip }}</td>
	<td>{{ item.locality }}</td>
	<td>{{ item.precinct_id }}</td>

  </tr>
  {% endfor %}
</table>
</div>
</body>
<br>
<br>

{% include 'footer.html' %}