{% load staticfiles %}

{#{% block title %}Checkin Form{% endblock %}#}

{% block content %}
{% include 'header.html' %}
	<br>
<h1 style="color:black;" align="center">CONFIRMATION NUMBER</h1>
<br>
{% if isNotCheckedIn == True %}
<p align="center" style="color:red">Confirmation Number not found. Please try again or ask for help.</p>
{% endif %}
<br>
<div id="padder" align="center">
	<div id="formContainer">
        <form action="{% url 'vote_id_check' %}" method="POST">
            {% csrf_token %}
            {{form.as_p}}
        <button type="submit">Submit</button>
        </form>
    </div>
</div>

{% include 'footer.html' %}
{% endblock %}
