{% load staticfiles %}

{% include 'header.html' %}
<link rel="stylesheet" href={% static "css/available_elections.css" %}>

<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

	<br>
	<br>
<h1 style="color:black;" align="center">Vote Count</h1>
	<br>
	<br>
<div id="padder" align="center">

<table id="myTable">
  <tr class="header">
          <th style="width:20%;">Election</th>
    <th style="width:20%;">Candidate</th>
      <th style="width:20%;">Position</th>
    <th style="width:20%;">Count</th>
  </tr>
  {% for item in query_results %}
  <tr>
      <td>{{ item.election }}</td>
      <td>{{ item.position }}</td>
      <td>{{ item.candidate }}</td>
      <td>{{ item.count }}</td>
  </tr>
  {% endfor %}
</table>


</div>
<br>
<br>

{% include 'footer.html' %}

