{% load staticfiles %}

{#{% block title %}Checkin Form{% endblock %}#}

{% block content %}
{% include 'header.html' %}

	<br>
<h1 style="color:black;" align="center">VOTING BOOTH</h1>
<br>

<table id="myTable">
  <tr class="header">
    <th style="width:20%;"></th>
    <th style="width:20%;"></th>
	<th style="width:20%;"></th>
    <th style="width:20%;"></th>
    <th style="width:20%;"></th>
  </tr>
  {% for item in voter_info %}
  <tr>
    <td>{{ item.first_name }}</td>
    <td>{{ item.last_name }}</td>
	<td>{{ item.date_of_birth }}</td>
	<td>{{ item.address }}</td>
	<td>{{ item.locality }}</td>
  </tr>
  {% endfor %}
</table>
<br>

<div id="padder" align="center">
	<div id="formContainer">
        <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p  }}
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
<br>
<br>
{% include 'footer.html' %}
{% endblock %}