{% load staticfiles %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{#{% if next %}#}
{#{% if user.is_authenticated %}#}
{#    <p>WELCOME</p>#}
{#    {% else %}#}
{#    <p>ERROR</p>#}
{#{% endif %}#}
{#{% endif %}#}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="{% static "css/login.css" %}">


<div class="container">
  <div class="row">
    <div class="Absolute-Center is-Responsive">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <form method="post" action="" id="loginForm">
			{% csrf_token %}
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <!-- <input class="form-control" type="text" name='username' placeholder="username"/> -->
			&nbsp; {{ form.username.label_tag }}
			{{ form.username }}
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <!-- <input class="form-control" type="password" name='password' placeholder="password"/> -->
			&nbsp; {{ form.password.label_tag }}
			{{ form.password }}
          </div>
          <div class= "col-md-4 text-center">
			<input type="submit" value="Login" class="btn btn-primary"/>
			<input type="hidden" name="next" value="{{ next }}" />
          </div>
          <div class="form-group text-center">
            <a href="{% url 'password_reset' %}">Forgot Password</a>&nbsp;|&nbsp;<a href="{% url 'home' %}">Home</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
